{{ define "title"}}Authorize{{ end }}

{{ if .error }}
  <div class="alert alert-danger" role="alert">{{ .error }}</div>
{{ end }}

{{ define "content" }}
<div id="app" class="flex flex-column flex-auto">
  <div class="flex">
    <h1 class="f3 lh-title">Authorize</h1>
  </div>
  <form action="" method="post">
    <div class="flex flex-column">
      <p><b>{{ .clientID }}</b> would like to perform actions on your behalf.</p>
    </div>
    <div class="flex">
      <div class="mr2">
        <input type="submit" class="bg-white ba bw b--dark-gray f5 b pv3 ph5 grow" name="allow" value="Allow">
      </div>
      <div>
        <input type="submit" class="bg-white ba bw b--dark-gray f5 b pv3 ph5 grow" name="deny" value="Deny">
      </div>
    </div>
  </form>
  {{ end }}
</div>
{{ end }}
