{{ define "title"}}Authorize{{ end }}

{{ define "content" }}
<div id="app">
  <main class="flex flex-auto relative">
    <div class="flex flex-column flex-auto w-100">
      <div class="flex flex-column flex-auto items-center justify-center min-vh-100 mh3 pv6">
        <div class="bg-white black bg-black--dark white--dark bg-white--light black--light z-1 w-100 w-auto-l shadow-contour ph4 pt4 pb3">
          <div class="flex flex-column flex-auto">
            <svg viewBox="0 0 16 16" class="icon icon-logo icon--sm icon icon--lg fill-black fill-white--dark fill-black--light">
              <use xlink:href="#icon-logo"></use>
            </svg>
            <div class="flex flex-column">
              <h2 class="f3 fw1 mt2 near-black near-black--light light-gray--dark lh-title">Authorize</h2>
              {{ if .error }}
              <div class="alert alert-danger" role="alert">{{ .error }}</div>
              {{ end }}
              <div class="flex flex-column flex-auto">
                <form action="" method="POST" class="flex flex-column flex-auto ma0 pa0">
                  {{ .csrfField }}
                  <div class="flex flex-column">
                    <p>To continue to the <b>{{ .applicationName }}</b>, please confirm the action.</p>
                  </div>
                  <div class="flex">
                    <div class="mr2">
                      <input type="submit" name="continue" value="Continue" class="bg-white black ba bw b--dark-gray f5 b pv3 ph3 grow" />
                    </div>
                    <div>
                      <input type="submit" name="cancel" value="Cancel" class="bg-transparent white bn f5 b pv3 ph3 grow" />
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{{ end }}
