{{ define "title"}}Join{{ end }}

{{ define "content" }}
<div id="app">
  <main class="flex flex-auto relative">
    <div class="flex flex-column flex-auto w-100">
      <div class="flex flex-column flex-auto items-center justify-center min-vh-100 mh3 pt6 pb6">
        <div class="bg-white black bg-black--dark white--dark bg-white--light black--light z-1 w-100 w-auto-l ph4 pt4 pb3">
          <div class="flex flex-column flex-auto">
            <svg viewBox="0 0 16 16" class="icon icon-logo icon--sm icon icon--lg fill-black fill-white--dark fill-black--light">
              <use xlink:href="#icon-logo"></use>
            </svg>
            <div class="flex flex-column">
              <h2 class="f3 fw1 mt3 near-black near-black--light light-gray--dark lh-title">Join now</h2>
              {{ if .flash }}
              <div>
                <p{{ if eq .flash.Type "Error" }} class="red"{{ end }}>{{ .flash.Message }}</p>
              </div>
              {{ end }}
              <div class="flex flex-column flex-auto">
                <div class="flex flex-column flex-auto">
                  <form id="signup" action="" method="POST" class="flex flex-column flex-auto ma0 pa0">
                    {{ .csrfField }}
                    <div>
                      <div class="flex flex-column mb3">
                        <div class="relative">
                          <input
                            value=""
                            autocomplete="false"
                            id="email"
                            type="email"
                            name="email"
                            placeholder="E-mail"
                            required="required"
                            class="bg-black white bg-white--dark black--dark bg-black--light white--light placeholder--dark-gray input-reset w-100 bn pa3 valid"
                          />
                        </div>
                      </div>
                      <div class="flex flex-column mb3">
                        <div class="relative">
                          <input
                            value=""
                            autocomplete="false"
                            id="password"
                            type="password"
                            name="password"
                            placeholder="Password"
                            required="required"
                            class="bg-black white bg-white--dark black--dark bg-black--light white--light placeholder--dark-gray input-reset w-100 bn pa3 valid"
                          />
                        </div>
                        <div class="flex flex-column" id="ncid-1794" data-nanocomponent="ncid-1794"><div class="flex"></div></div>
                      </div>
                      <!--
                      <div class="flex flex-column mb3">
                        <div class="relative">
                          <input
                            value=""
                            autocomplete="false"
                            id="login"
                            type="text"
                            name="login"
                            placeholder="Username"
                            required="required"
                            class="bg-black white bg-white--dark black--dark bg-black--light white--light placeholder--dark-gray input-reset w-100 bn pa3 valid"
                          />
                        </div>
                        <p class="ma0 mt1 lh-copy f7">Can be used to login to your profile</p>
                      </div>
                      !-->
                      <div class="flex flex-column mb3">
                        <div class="relative">
                          <input
                            value=""
                            autocomplete="false"
                            id="display_name"
                            type="text"
                            name="display_name"
                            placeholder="Name"
                            required="required"
                            class="bg-black white bg-white--dark black--dark bg-black--light white--light placeholder--dark-gray input-reset w-100 bn pa3 valid"
                          />
                        </div>
                        <p class="ma0 mt1 lh-copy f7">Your artist name, nickname or label name</p>
                      </div>
                    </div>
                    <div class="flex mt3">
                      <div class="flex mr3">
                        <p class="f5 lh-copy">Already have an account? <a href="../web/login" class="link b">Log In</a>.</p>
                      </div>
                      <div class="flex flex-auto justify-end pr1"><button type="submit" class="bg-white dib grow ba bw b--near-black b pv2 ph4 flex-shrink-0 f5">Sign up</button></div>
                    </div>
                  </form>
                </div>
              </div>
              <p class="f6 lh-copy measure">
                By signing up, you accept the <a href="https://resonate.is/terms-conditions/" target="_blank" rel="noopener" class="link b">Terms and Conditions</a> and acknowledge the
                <a href="https://resonate.is/privacy-policy/" target="_blank" class="link b">Privacy Policy</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{{ end }}
