{{ define "title"}}Create your profile{{ end }}

{{ define "content" }}
<div id="app">
  <main class="flex flex-auto relative min-vh-100">
    <div class="flex flex-column flex-auto w-100">
      <div class="flex flex-column flex-auto items-center justify-center min-vh-100 mh3 pb6">
        <noscript>
          <p class="f4 lh-copy">
            For the best experience with Resonate, please ensure that your browser has 
    <a class="b" href="https://www.enable-javascript.com" target="_blank" rel="noopener noreferer">Javascript enabled</a>
    .
          </p>
        </noscript>
      </div>
    </div>
  </main>
</div>
{{ end }}
