{{ define "title"}}Profile{{ end }}

{{ define "content" }}
<div id="app">
  <div class="flex pb6">
    <div class="flex flex-column w-100 mh3 mh0-ns">
      <section id="profile" class="flex flex-column flex-row-l">
        <div class="fl w-50 w-third-l pa3 mb4">
        </div>
        <div class="flex flex-column flex-auto ph3 pt4 mw6 ph0-l">
          {{ if .flash }}
          <div>
            <p{{ if eq .flash.Type "Error" }} class="ma0 pa3 red" else class="ma0 pa3" {{ end }}>{{ .flash.Message }}</p>
          </div>
          {{ end }}
          <div class="ph3">
            <div class="flex flex-column flex-auto pb6">
              <form action="" method="POST">
                {{ .csrfField }}
                <fieldset id="account_informations" class="ma0 pa0 bn flex flex-column w-100">
                  <legend class="f3 mb3">Account information</legend>
                  <div class="mb3">
                    <div class="flex flex-column flex-column-reverse">
                      <input
                        value="{{ .profile.Email }}"
                        autocomplete="false"
                        id="email"
                        type="text"
                        name="email"
                        placeholder=""
                        required="required"
                        class="bg-black white bg-white--dark black--dark bg-black--light white--light placeholder--dark-gray input-reset w-100 bn pa3 valid"
                      />
                      <label for="email" class="f4 db mv2">
                        <div class="flex items-center"><span>Email</span></div>
                      </label>
                    </div>
                    <p class="lh-copy f5 red"></p>
                  </div>
                  <div class="mb3">
                    <div class="flex flex-column flex-column-reverse">
                      <input
                        value="{{ .profile.DisplayName }}"
                        autocomplete="false"
                        id="nickname"
                        type="text"
                        name="nickname"
                        placeholder=""
                        required="required"
                        class="bg-black white bg-white--dark black--dark bg-black--light white--light placeholder--dark-gray input-reset w-100 bn pa3 valid"
                      />
                      <label for="nickname" class="f4 db mv2">
                        <div class="flex items-center"><span>Profile name</span></div>
                      </label>
                    </div>
                    <p class="lh-copy f5 red"></p>
                  </div>
                </fieldset>
                <input type="hidden" name="_method" value="PUT" />
                <button type="submit" class="bg-white ba bw b--dark-gray f5 b pv3 ph5 flex-shrink-0 f5 grow">Update</button>
              </form>
            </div>
          </div>
          <div class="ph3">
            <div class="flex flex-column flex-auto pb6">
              <form action="/password{{ .queryString }}" method="POST">
                {{ .csrfField }}
                <fieldset id="change_password" class="ma0 pa0 bn flex flex-column w-100">
                  <legend class="f3 mb3">Change password</legend>
                  <div class="mb3">
                    <div class="flex flex-column flex-column-reverse">
                      <input
                        value=""
                        autocomplete="false"
                        id="password"
                        type="password"
                        name="password"
                        placeholder=""
                        required="required"
                        class="bg-black white bg-white--dark black--dark bg-black--light white--light placeholder--dark-gray input-reset w-100 bn pa3 valid"
                      />
                      <label for="password" class="f4 db mv2">
                        <div class="flex items-center"><span>Current password</span></div>
                      </label>
                    </div>
                    <p class="lh-copy f5 red"></p>
                  </div>
                  <div class="mb3">
                    <div class="flex flex-column flex-column-reverse">
                      <input
                        value=""
                        autocomplete="false"
                        id="password_new"
                        type="password"
                        name="password_new"
                        placeholder=""
                        required="required"
                        class="bg-black white bg-white--dark black--dark bg-black--light white--light placeholder--dark-gray input-reset w-100 bn pa3 valid"
                      />
                      <label for="password_new" class="f4 db mv2">
                        <div class="flex items-center"><span>New password</span></div>
                      </label>
                    </div>
                    <p class="lh-copy f5 red"></p>
                  </div>
                  <div class="mb3">
                    <div class="flex flex-column flex-column-reverse">
                      <input
                        value=""
                        autocomplete="false"
                        id="password_confirm"
                        type="password"
                        name="password_confirm"
                        placeholder=""
                        required="required"
                        class="bg-black white bg-white--dark black--dark bg-black--light white--light placeholder--dark-gray input-reset w-100 bn pa3 valid"
                      />
                      <label for="password_confirm" class="f4 db mv2">
                        <div class="flex items-center"><span>Password verification</span></div>
                      </label>
                    </div>
                    <p class="lh-copy f5 red"></p>
                  </div>
                </fieldset>
                <button type="submit" class="bg-white ba bw b--dark-gray f5 b pv3 ph5 flex-shrink-0 f5 grow">Update</button>
              </form>
            </div>
          </div>
          <div class="flex w-100 items-center ph3">
            <form id="delete-profile" action="" method="POST" class="ma0 pa0">
              {{ .csrfField }}
              <input type="hidden" name="_method" value="DELETE" />
              <label for="password_delete" class="f4 db mv2">
                <div class="flex items-center"><span>Current password</span></div>
              </label>
              <div class="mb3">
                <input type="password" id="password_delete" autocomplete="on" required="required" placeholder="" name="password" value="" class="bg-black white bg-white--dark black--dark bg-black--light white--light placeholder--dark-gray input-reset w-100 bn pa3 valid" />
              </div>
              <button type="submit" class="bg-white ba bw b--dark-gray f5 b pv3 ph3 w-100 mw5 grow flex-shrink-0 f5 grow">
                Delete account
              </button>
              <div class="ml3"><p class="lh-copy f5 dark-gray">This will delete your account and all associated profiles.</p></div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
{{ end }}
