{{ define "title"}}Welcome{{ end }}

{{ define "content" }}
<div id="app">
  <main class="flex flex-auto relative">
    <div class="flex flex-column flex-auto w-100">
      <div class="flex flex-column flex-auto items-center justify-center min-vh-100 mh3 pt6 pb6">
        <div class="bg-white black bg-black--dark white--dark bg-white--light black--light z-1 w-100 w-auto-l ph4 pt4 pb3">
          <div class="flex flex-column flex-auto">
            <svg viewBox="0 0 16 16" class="icon icon-logo icon--sm icon icon--lg fill-black fill-white--dark fill-black--light">
              <use xlink:href="#icon-logo" />
            </svg>
            <div class="flex flex-column ph2 ph0-ns mw6 mt5 center pb6">
              <article>
                <h1 class="lh-title f2 fw1">Welcome to Resonate</h1>
                
                <p class="mb3">You’ve just made a private profile. </p>

                <p class="mb3">If you want to share music and playlists, you’ll need a public one, too. </p>

                <p class="mb3">Create as many public profiles as you’d like. You’ll always have control over what gets shared and what stays private.</p>

                <a href="/profile" style="outline:solid 1px var(--near-black);outline-offset:-1px" class="link dib b pv2 ph4 mb1">Create your profile</a>

                <p>No thanks, <a href="https://beta.stream.resonate.coop/api/v2/user/connect/resonate" class="link dib b">I want to listen to music privately</a>.</p>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{{ end }}
