{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preload" as="font" crossorigin="" href="https://static.resonate.is/fonts/Graphik-Semibold.woff2">
  <link rel="preload" as="font" crossorigin="" href="https://static.resonate.is/fonts/Graphik-Semibold.woff">
  <link rel="preload" as="font" crossorigin="" href="https://static.resonate.is/fonts/Graphik-Regular.woff2">
  <link rel="preload" as="font" crossorigin="" href="https://static.resonate.is/fonts/Graphik-Regular.woff">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ template "title" . }}</title>

  <link href="css/index-547882da.css" rel="stylesheet">
  
  <script type="text/javascript" defer src="js/main-4226624c.js"></script>
</head>
<body class="sans-serif">
  <header role="banner" style="height:3rem" class="bg-white black bg-black--dark white--dark bg-white--light black--light sticky left-0 top-0 right-0 w-100 z-9999 flex items-center shadow-contour">
    <div class="flex">
      <h1 class="ml2"><a href="https://resonate.is" title="Resonate Coop" class="link flex items-center flex-shrink-0 h-100 grow ph3 overflow-hidden"><svg viewBox="0 0 16 16" transform="scale(1, 1)" class="icon icon-logo icon--md fill-black fill-white--dark fill-black--light"><use xlink:href="#icon-logo"></use></svg></a></h1>
    </div>
    <div class="flex flex-auto justify-end h-100">
      <nav role="navigation" aria-label="Secondary navigation" class="dropdown-navigation flex justify-end items-center">
        <ul class="list ma0 pa0 flex h-100">
          <li class="h-100">
            <a href="" class="flex justify-end w4 h-100 dropdown-toggle"> <span class="flex justify-center items-center h-100 w3"> <svg viewBox="0 0 16 16" transform="scale(1, 1)" class="icon icon-dropdown icon--sm fill-black fill-white--dark fill-black--light"><use xlink:href="#icon-dropdown"></use></svg></span></a>
            <ul style="left:auto;width:100vw;max-width:24rem;top:100%;" class="bg-black white bg-white--dark black--dark bg-black--light white--light list ma0 pa2 absolute right-0 dropdown z-max">
              <li><a href="/logout" class="link db dim pa2 w-100">Logout</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- Begin page content -->
  {{ template "content" . }}

  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none" width="100" height="100">
    <symbol viewBox="0 0 100 100" id="icon-logo">
      <path d="M100 50c0-12.9-5.5-24.5-14.2-33l-18 17.3a21.7 21.7 0 0 1 0 31.5l18 17.3a45.7 45.7 0 0 0 14.2-33zm-74.6 0c0-6 2.6-11.6 6.8-15.7L14.2 17a45.7 45.7 0 0 0 0 66.1l18-17.3c-4.2-4-6.8-9.6-6.8-15.7z"/>
    </symbol>
    <symbol viewBox="0 0 100 100" id="icon-circle">
      <circle cx="50" cy="50" r="45" stroke-width="10" />
    </symbol>
  </svg>
</body>
</html>
{{ end }}
{{ define "links" }}{{ end }}
{{ define "scripts" }}{{ end }}
